* {
  font-family: Lato;
}

@media (min-width: 1200px) {
  .container {
    max-width: 80% !important;
  }
}

.navbar-toggler {
  display: none !important;
}

.hero {
  width: 100%;
  height: 650px;
  padding-top: 100px;
  /* ff3.6+ */
  /* safari4+,chrome */
  /* safari5.1+,chrome10+ */
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 58%, #007aff 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007aff',GradientType=0 );
  /* ie6-9 */
}

.hero__blue {
  display: flex;
  align-items: center;
}

.hero__row {
  height: 400px;
}

.hero__labels {
  position: relative;
}

.hero__logo {
  position: relative;
}

.hero__buttons {
  margin-top: 50px;
}

.hero__buttons img {
  margin-right: 15px;
  width: 170px;
  height: 50px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .hero {
    height: 950px;
  }
  .hero__row {
    height: 700px;
  }
  .hero__buttons {
    display: flex;
    justify-content: space-around;
  }
  .hero__buttons img {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .hero {
    padding-top: 95px;
  }
  .hero__labels {
    opacity: 0;
    transition: opacity .3s ease;
    overflow: hidden;
  }
  .hero__logo {
    top: -50%;
    transition: 1s ease-in-out;
  }
}

@media (max-width: 349px) {
  .hero__logo {
    padding-left: 5px !important;
  }
}

.about {
  height: 1310px;
  padding: 150px 0;
  /* ff3.6+ */
  /* safari4+,chrome */
  /* safari5.1+,chrome10+ */
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(180deg, #007aff 0%, #007aff 41%, #015fc3 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007aff', endColorstr='#015fc3',GradientType=0 );
  /* ie6-9 */
  margin-top: -1px;
}

@media (max-width: 1690px) {
  .about {
    height: 880px;
    padding: 85px 0;
  }
  .about__container {
    max-width: 950px !important;
  }
}

@media (max-width: 992px) {
  .about {
    height: 1310px;
  }
  .about__container {
    max-width: 340px !important;
  }
}

@media (max-width: 350px) {
  .about__container {
    width: 320px;
    display: flex;
    justify-content: center;
  }
}

.unlimited {
  /* ff3.6+ */
  /* safari4+,chrome */
  /* safari5.1+,chrome10+ */
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(180deg, #015fc3 13%, #59a9ff 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#015fc3', endColorstr='#59a9ff',GradientType=0 );
  /* ie6-9 */
  padding: 40px 0;
  position: relative;
  margin-top: -2px;
}

.unlimited__bg {
  position: relative;
  top: -100%;
  left: -20%;
  width: 570px;
  z-index: 0;
  transition: 3s ease;
}

.unlimited__phone {
  width: 370px;
  z-index: 3;
  position: relative;
}

.unlimited__content {
  padding: 35px;
  height: 740px;
}

.unlimited__pic {
  height: 740px;
}

.unlimited__title {
  text-align: center;
  color: white;
  font-size: 35px;
}

.unlimited__item {
  height: 315px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unlimited__item img {
  width: 135px;
}

.unlimited__item span {
  color: white;
}

.unlimited__label {
  font-size: 27px;
  text-align: center;
}

.unlimited__text {
  font-size: 14px;
  text-align: center;
  width: 280px;
}

.unlimited__text_3 {
  width: 270px;
}

.unlimited__text_4 {
  width: 235px;
}

.unlimited__row {
  justify-content: center;
}

@media (max-width: 1690px) {
  .unlimited__container {
    max-width: 950px !important;
  }
  .unlimited__phone {
    width: 290px;
    height: 610px;
  }
  .unlimited__title {
    font-size: 32px;
  }
  .unlimited__bg {
    width: 500px;
    left: -30%;
  }
  .unlimited__item {
    height: 255px;
    width: 48%;
  }
  .unlimited__item img {
    width: 100px;
  }
  .unlimited__pic {
    height: 610px;
  }
  .unlimited__content {
    height: 610px;
  }
}

@media (max-width: 1540px) {
  .unlimited__phone {
    width: 290px;
    height: 610px;
  }
  .unlimited__title {
    font-size: 32px;
  }
  .unlimited__bg {
    width: 500px;
    left: -30%;
  }
  .unlimited__item {
    height: 255px;
    width: 48%;
  }
  .unlimited__item img {
    width: 100px;
  }
  .unlimited__pic {
    height: 610px;
  }
  .unlimited__content {
    height: 610px;
  }
}

@media (max-width: 1200px) {
  .unlimited__bg {
    left: -35%;
  }
}

@media (max-width: 992px) {
  .unlimited__pic {
    display: none;
  }
}

@media (max-width: 576px) {
  .unlimited {
    height: 1200px;
  }
  .unlimited__title {
    font-size: 27px;
  }
  .unlimited__item {
    width: 100%;
  }
}

@media (max-width: 335px) {
  .unlimited__title {
    font-size: 22px;
  }
}

.pricing {
  height: 980px;
  /* ff3.6+ */
  /* safari4+,chrome */
  /* safari5.1+,chrome10+ */
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(180deg, #59a9ff 0%, #007aff 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59a9ff', endColorstr='#007aff',GradientType=0 );
  /* ie6-9 */
  padding: 75px 0 60px 0;
  position: relative;
  margin-top: -2px;
}

.pricing__title {
  font-size: 43px;
  color: white;
  text-align: center;
  z-index: 2;
}

.pricing__triangle {
  position: absolute;
  z-index: 0;
}

@media (max-width: 1200px) {
  .pricing {
    height: 815px;
  }
}

@media (max-width: 576px) {
  .pricing {
    overflow: hidden;
  }
}

.contacts {
  padding: 50px 0;
  /* ff3.6+ */
  /* safari4+,chrome */
  /* safari5.1+,chrome10+ */
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(180deg, #007aff 20%, #015fc3 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007aff', endColorstr='#015fc3',GradientType=0 );
  /* ie6-9 */
  margin-top: -3px;
}

.contacts__left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contacts__right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contacts__img {
  width: 370px;
}

@media (max-width: 992px) {
  .contacts__left {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .contacts__img {
    width: 100%;
  }
}

.download {
  /* ff3.6+ */
  /* safari4+,chrome */
  /* safari5.1+,chrome10+ */
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(180deg, #015fc3 0%, #007aff 84%, #007aff 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#015fc3', endColorstr='#007aff',GradientType=0 );
  /* ie6-9 */
  margin-top: -3px;
}

.download__pic {
  width: 650px;
}

@media (max-width: 1560px) {
  .download__pic {
    width: 500px;
  }
}

@media (max-width: 1200px) {
  .download__pic {
    width: 100%;
  }
}

@media (max-width: 993px) {
  .download__pic {
    display: none;
  }
}

.footer {
  margin-top: -3px;
  padding-bottom: 60px;
  /* ff3.6+ */
  /* safari4+,chrome */
  /* safari5.1+,chrome10+ */
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(180deg, #007aff 0%, #007aff 21%, #59a9ff 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007aff', endColorstr='#59a9ff',GradientType=0 );
  /* ie6-9 */
}

.footer__link_1 {
  display: block;
}

.footer__link_2 {
  width: 22%;
}

.footer__link_2 img {
  width: 100%;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5px;
}

.footer__right_2 {
  position: relative;
}

.footer__rights {
  position: absolute;
  bottom: 5px;
  width: 100%;
  left: 25px;
}

.footer__logo {
  width: 160px;
}

.footer a {
  color: white;
}

.footer span {
  color: white;
}

.footer p {
  color: white;
  font-weight: bold;
}

@media (max-width: 993px) {
  .footer__right {
    width: 300px;
  }
}

@media (max-width: 993px) {
  .footer__container {
    width: 100% !important;
  }
  .footer__left {
    height: 100px;
    margin-top: 50px;
  }
  .footer__25 {
    padding-left: 25px !important;
  }
}

.blue {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 450px;
  justify-content: space-between;
  padding-left: 40px;
}

#blue_second {
  align-self: flex-end;
}

.blue__item {
  height: 50px;
  width: 40px;
  background-color: #3079ea;
  border-radius: 40px;
  transition: width .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue__label {
  opacity: 0;
  transition: opacity 1s ease;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-family: Lato;
  font-weight: 300;
  font-size: 40px;
}

.blue__label_vis {
  opacity: 1;
  transition: opacity 1s ease;
}

.blue_width {
  width: 350px;
  transition: width .6s ease;
}

.blue_width_2 {
  width: 280px;
  transition: width .6s ease;
}

.blue_width_3 {
  width: 250px;
  transition: width .6s ease;
}

@media (max-width: 576px) {
  .blue {
    height: 175px;
    padding-left: 0;
  }
  .blue__item {
    height: 40px;
  }
  .blue__label {
    font-size: 30px;
  }
  .blue_width {
    width: 240px;
  }
  .blue_width_2 {
    width: 220px;
  }
  .blue_width_3 {
    width: 170px;
  }
}

.logo__block {
  width: 376px;
  height: 325.5px;
  margin: auto;
  position: relative;
  top: 40px;
}

.logo__line {
  height: 11px;
  background: #3079ea;
  border-radius: 45px;
}

.logo__line_1 {
  width: 0;
  transition: width .2s ease;
  position: absolute;
  bottom: 0;
  left: 32.6px;
  transform: rotate(-180deg);
}

.logo__line_2 {
  width: 0;
  transition: width .2s ease;
  left: 324.5px;
  position: absolute;
  bottom: 18.6px;
  transform: rotate(-50deg);
}

.logo__line_3 {
  width: 0;
  transition: width .2s ease;
  left: -6px;
  position: absolute;
  bottom: 18.6px;
  transform: rotate(50deg);
}

.logo__line_4 {
  width: 0;
  transition: width .2s ease;
  position: absolute;
  transform: rotate(60deg);
  left: 130.5px;
  bottom: 172px;
  transform: rotate(60deg);
}

.logo__line_5 {
  width: 0;
  transition: width .2s ease;
  position: absolute;
  left: -77.5px;
  bottom: 173px;
  transform: rotate(-60deg);
}

.logo__line_6 {
  width: 0;
  transition: width .2s ease;
  position: absolute;
  left: 158px;
  top: 8px;
}

.logo__line_7 {
  transform: rotate(-60deg);
  bottom: 107px;
  left: -24px;
  position: absolute;
  width: 0;
  transition: width .2s ease;
}

.logo__line_8 {
  transform: rotate(60deg);
  position: absolute;
  top: 142px;
  left: 79px;
  width: 0;
  transition: width .2s ease;
}

.logo__line_9 {
  position: absolute;
  bottom: 39px;
  left: 185px;
  width: 0;
  transition: width .2s ease;
}

.logo__line_10 {
  position: absolute;
  transform: rotate(60deg);
  top: 169px;
  left: 116px;
  width: 0;
  transition: width .2s ease;
}

.logo__line_11 {
  transform: rotate(-60deg);
  position: absolute;
  top: 215px;
  left: 83px;
  width: 0;
  transition: width .2s ease;
}

.logo__line_12 {
  position: absolute;
  bottom: 39px;
  left: 115px;
  width: 0;
  transition: width .2s ease;
}

.logo__line_13 {
  position: absolute;
  bottom: 80px;
  left: 142px;
  width: 0;
  transition: width .2s ease;
}

.logo__label {
  font-family: Lato;
  position: absolute;
  font-size: 37px;
  transition: opacity .2s ease-in;
}

.logo__label_investor {
  opacity: 0;
  left: 125px;
  top: -50px;
}

.logo__label_founder {
  opacity: 0;
  bottom: -45px;
  left: -70px;
}

.logo__label_team {
  opacity: 0;
  bottom: -45px;
  right: -50px;
}

.label_visible {
  opacity: 1;
  transition: opacity 1.2s ease;
}

.line_active_1 {
  width: 310px;
  transition: width .2s ease;
}

.line_active_2 {
  width: 56.6px;
  transition: width .2s ease;
}

.line_active_3 {
  width: 55.6px;
  transition: width .2s ease;
}

.line_active_4 {
  width: 319.7px;
  transition: width .2s ease;
}

.line_active_5 {
  width: 320.0px;
  transition: width .2s ease;
}

.line_active_6 {
  width: 59.9px;
  transition: width .2s ease;
}

.line_active_7 {
  width: 245px;
  transition: width .2s ease;
}

.line_active_8 {
  width: 318px;
  transition: width .2s ease;
}

.line_active_9 {
  width: 180px;
  transition: width .2s ease;
}

.line_active_10 {
  width: 157px;
  transition: width .2s ease;
}

.line_active_11 {
  width: 143px;
  transition: width .2s ease;
}

.line_active_12 {
  width: 50px;
  transition: width .2s ease;
}

.line_active_13 {
  width: 150px;
  transition: width .2s ease;
}

@media (max-width: 576px) {
  .logo__block {
    height: 265.5px;
    width: 306px;
    margin-top: 30px;
  }
  .logo__line {
    height: 10px;
  }
  .logo__line_1 {
    width: 275px;
    left: 14.6px;
    bottom: -5px;
  }
  .logo__line_2 {
    width: 38px;
    left: 275.8px;
    bottom: 6.9px;
    transform: rotate(-60deg);
  }
  .logo__line_3 {
    width: 38px;
    bottom: 7.6px;
    left: -7.5px;
    transform: rotate(63deg);
  }
  .logo__line_4 {
    width: 275px;
    left: 98.5px;
    bottom: 137px;
  }
  .logo__line_5 {
    width: 275px;
    left: -66px;
    bottom: 136px;
  }
  .logo__line_6 {
    width: 40px;
    left: 134px;
    top: 4px;
  }
  .logo__line_7 {
    left: -36px;
    bottom: 93px;
    width: 232.3px;
  }
  .logo__line_8 {
    width: 264px;
    top: 118px;
    left: 71px;
  }
  .logo__line_9 {
    width: 152px;
    bottom: 23px;
    left: 150px;
  }
  .logo__line_10 {
    width: 165px;
    top: 131px;
    left: 94px;
  }
  .logo__line_11 {
    width: 162px;
    top: 164px;
    left: 35px;
  }
  .logo__line_12 {
    bottom: 24px;
    left: 73px;
    width: 49px;
  }
  .logo__line_13 {
    width: 162px;
    bottom: 54px;
    left: 91px;
  }
  .logo__label {
    font-size: 30px;
  }
  .logo__label_investor {
    left: 105px;
    top: -40px;
  }
  .logo__label_founder {
    bottom: -45px;
    left: -20px;
  }
  .logo__label_team {
    right: -20px;
    bottom: -45px;
  }
}

@media (max-width: 349px) {
  .logo__label_founder {
    left: 0px;
  }
  .logo__label_team {
    right: 10px;
  }
}

.navbar {
  background-color: white;
}

.nav-link {
  color: black;
  font-size: 23px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #589BFF;
}

.nav-item {
  margin-right: 40px;
}

@media (max-width: 1200px) {
  .nav-item {
    margin-right: initial;
  }
  .nav-link {
    font-size: 12px;
  }
}

.puzzle__label {
  font-size: 35px;
  line-height: 37px;
  color: white;
  font-family: Lato;
  text-align: center;
}

.puzzle__label_1 {
  margin-bottom: 20px;
}

.puzzle__label_4_1 {
  margin-top: 65px;
}

.puzzle__label_4_2 {
  margin-bottom: 30px;
}

.puzzle__top_1 {
  height: 405px;
  background-color: #74b7f8;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.puzzle__top_2 {
  height: 600px;
  background-color: #429cf6;
}

.puzzle__top_2 img {
  width: 80%;
  margin: auto;
  display: block;
}

.puzzle__bottom_1 {
  height: 605px;
  background-color: #1852a8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.puzzle__bottom_1_1 img {
  width: 55%;
  display: block;
  margin: auto;
}

.puzzle__bottom_1_2 img {
  width: 94%;
  display: block;
  margin: auto;
  margin-bottom: 0;
}

.puzzle__bottom_2 {
  height: 410px;
  background-color: #74b7f8;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1690px) {
  .puzzle__label {
    font-size: 25px;
    line-height: 28px;
  }
  .puzzle__top_1 {
    height: 255px;
  }
  .puzzle__top_1 img {
    width: 75%;
  }
  .puzzle__top_2 {
    height: 450px;
  }
  .puzzle__bottom_1 {
    height: 455px;
  }
  .puzzle__bottom_2 {
    height: 260px;
  }
  .puzzle__bottom_2 img {
    width: 75%;
  }
}

@media (min-width: 994px) {
  .puzzle_left-top {
    border-radius: 30px 0px 0px 0px;
  }
  .puzzle_left-bottom {
    border-radius: 0px 0px 0px 30px;
  }
  .puzzle_right-top {
    border-radius: 0px 30px 0px 0px;
  }
  .puzzle_right-bottom {
    border-radius: 0px 0px 30px 0px;
  }
}

@media (max-width: 993px) {
  .puzzle__label {
    font-size: 20px;
    line-height: 22px;
  }
  .puzzle__top_1 {
    height: 215px;
  }
  .puzzle__top_2 {
    height: 350px;
  }
  .puzzle__bottom_1 {
    height: 355px;
  }
  .puzzle__bottom_2 {
    height: 220px;
  }
  .puzzle_left-top {
    border-radius: 30px 0px 0px 0px;
  }
  .puzzle_right-bottom {
    border-radius: 0px 0px 30px 0px;
  }
  .puzzle_right-top_mobile {
    border-radius: 0px 30px 0px 0px;
  }
}

@media (max-width: 350px) {
  .puzzle {
    width: 90%;
    margin: auto;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -1;
  justify-content: center;
  align-items: center;
  background-color: rgba(37, 118, 245, 0.9);
  opacity: 0;
  transition: opacity .3s ease;
}

.modal__block {
  background-image: url("../../img/modal1.png");
  width: 1075px;
  height: 690px;
  background-size: 1075px;
  display: flex;
  align-items: center;
  padding: 0 100px;
  position: relative;
}

.modal__text {
  width: 50%;
  color: #c9d5e4;
}

.modal__title {
  font-size: 41px;
}

.modal__paragraph {
  margin-top: 25px;
  width: 95%;
  line-height: 24px;
}

.modal__pic {
  width: 25%;
  margin-left: 150px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 75px;
  cursor: pointer;
}

.modal-active {
  opacity: 1;
  transition: opacity .3s ease;
}

@media (max-width: 1350px) {
  .modal__block {
    background-size: 865px;
    width: 865px;
    height: 550px;
  }
}

@media (max-width: 992px) {
  .modal__block {
    width: 400px;
    padding: 0 5%;
    /* ff3.6+ */
    /* safari4+,chrome */
    /* safari5.1+,chrome10+ */
    /* opera 11.10+ */
    /* ie10+ */
    background: linear-gradient(45deg, #054182 0%, #0967cd 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0967cd', endColorstr='#054182',GradientType=1 );
    /* ie6-9 */
    height: 575px;
    border-radius: 15px;
  }
  .modal__text {
    width: 90%;
  }
  .modal__title {
    font-size: 31px;
  }
  .modal__close {
    width: 60px;
    top: 10px;
    right: 10px;
  }
  .modal__pic {
    display: none;
  }
}

@media (max-width: 440px) {
  .modal__block {
    width: 310px;
  }
  .modal__text {
    width: 100%;
  }
  .modal__paragraph {
    width: 100%;
  }
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  width: 725px;
  margin: auto;
  margin-top: 75px;
}

.slider__global {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 770px;
  margin: auto;
}

.slider__item {
  width: 700px;
  height: 665px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  outline: none !important;
  z-index: 30;
  margin: auto;
  background-color: #1d5fc3;
  padding: 40px 0 25px 0;
  border-radius: 30px;
  margin-bottom: 20px;
}

.slider__cost {
  text-transform: uppercase;
  font-size: 24px;
}

.slider__num {
  font-size: 47px;
}

.slider__price {
  margin-bottom: 0;
}

.slider__per {
  font-size: 24px;
}

.slider__list {
  font-size: 22px;
  width: 325px;
  padding-left: 20px;
  margin-bottom: 0;
}

.slider__list li {
  margin-bottom: 20px;
}

.slider__list li:last-child {
  margin-bottom: 0;
}

.slider__button {
  width: 325px;
  min-height: 60px;
  margin-top: 30px;
  background-color: #e94556;
  color: white;
  border-radius: 35px;
  outline: none;
  border: none;
  transition: background-color .3s ease;
}

.slider__button:hover {
  background-color: #ca182a;
  transition: background-color .3s ease;
}

#prev {
  width: 40px !important;
  left: 430px;
  margin-top: 6%;
  cursor: pointer;
  z-index: 35;
}

#next {
  width: 40px !important;
  right: 430px;
  margin-top: 6%;
  cursor: pointer;
  z-index: 35;
}

@media (max-width: 1200px) {
  .slider__global {
    width: 800px;
  }
  .slider__item {
    height: 500px;
    width: 550px;
  }
  .slider__cost {
    font-size: 20px;
  }
  .slider__per {
    font-size: 20px;
  }
  .slider__num {
    font-size: 40px;
  }
  .slider__list {
    font-size: 15px;
    width: 300px;
  }
  .slider__list li {
    margin-bottom: 14px;
  }
  .slider__list__button {
    width: 300px;
    height: 40px;
  }
}

@media (max-width: 993px) {
  .slider {
    width: 520px;
  }
  .slider__global {
    width: 595px;
    margin: auto;
  }
  .slider__item {
    width: 500px;
    margin: auto;
  }
  .slider__button {
    width: 80%;
  }
  .slider__list {
    width: 265px;
  }
}

@media (max-width: 610px) {
  .slider {
    width: 320px;
  }
  .slider__global {
    width: 100%;
  }
  .slider__item {
    width: 100%;
  }
  #prev {
    display: none;
  }
  #next {
    display: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form__title {
  margin-bottom: 70px;
  font-size: 45px;
  color: white;
}

.form__input {
  margin-bottom: 28px;
  width: 505px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 30px;
  color: white;
  padding-left: 25px;
  font-size: 25px;
  transition: background-color .3s ease;
}

.form__input_1 {
  background-color: #79aaf3;
}

.form__input_1:hover {
  background-color: #a8c8f7;
  transition: background-color .3s ease;
}

.form__input_2 {
  background-color: #0e49af;
}

.form__input_2:hover {
  background-color: #0a3580;
  transition: background-color .3s ease;
}

.form__input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.form__label {
  margin-top: 17px;
  padding-left: 5px;
  font-size: 23px;
  color: white;
}

.form__message {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  width: 505px;
}

.form__button {
  margin-top: 55px;
  width: 205px;
  height: 60px;
  background-color: #e94556;
  color: white;
  border-radius: 35px;
  border: none;
  transition: background-color .3s ease;
}

.form__button:hover {
  background-color: #ca182a;
  transition: background-color .3s ease;
}

@media (max-width: 1200px) {
  .form input {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .form {
    align-items: center;
  }
}

.buy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buy__title {
  font-size: 45px;
  color: white;
  margin-bottom: 80px;
}

.buy__paragraph {
  font-size: 25px;
  color: white;
  width: 85%;
  margin-bottom: 70px;
}

.buy img {
  width: 250px;
  margin-bottom: 13px;
}

.buy__title, .buy__paragraph, .buy img {
  margin-left: 20%;
}

@media (max-width: 1560px) {
  .buy__title {
    margin-bottom: 50px;
  }
  .buy__paragraph {
    font-size: 23px;
    line-height: 26px;
    color: white;
    width: 615px;
    margin-bottom: 50px;
  }
  .buy img {
    width: 200px;
  }
  .buy__title, .buy__paragraph, .buy img {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .buy__title {
    margin-bottom: 30px;
    font-size: 38px;
  }
  .buy__paragraph {
    width: 560px;
    font-size: 20px;
    line-height: 23px;
  }
  .buy img {
    width: 150px;
  }
}

@media (max-width: 992px) {
  .buy {
    align-items: center;
  }
  .buy__title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 38px;
  }
  .buy__paragraph {
    text-align: center;
    width: 100%;
    font-size: 20px;
    line-height: 23px;
  }
  .buy img {
    width: 150px;
  }
}

.burger {
  display: none;
}

@media (max-width: 993px) {
  .burger {
    z-index: 1035;
    display: flex;
    width: 40px;
    height: 15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    transition: .3s ease;
  }
  .up {
    width: 100%;
    height: 1px;
    background: black;
    z-index: 1035;
    transition: .3s ease;
  }
  .down {
    width: 50%;
    height: 1px;
    background-color: black;
    z-index: 1035;
    transition: .3s ease;
  }
  .up_active {
    width: 100%;
    transform: rotate(-45deg);
    transition: .3s ease;
  }
  .down_active {
    width: 100%;
    transform: rotate(45deg);
    transition: .3s ease;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background: rgba(47, 122, 234, 0.7);
  z-index: -1;
  transition: .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list {
  list-style-type: none;
  padding-left: 0;
}

.menu__list li {
  text-align: center;
}

.menu__list a {
  color: white;
  font-size: 40px;
  margin-bottom: 5px;
}

.triangle__first {
  left: 38%;
  transition: 5s ease;
  top: -90%;
  transform: rotate(60deg);
  transition: 10s ease;
}

.triangle__second {
  left: 120%;
  top: -120%;
  transform: rotate(120deg);
  transition: 10s ease;
}

.triangle__third {
  left: -20%;
  top: -100%;
  transform: rotate(180deg);
  transition: 10s ease;
}

#pric-1 {
  top: 10%;
  left: 8%;
  width: 10%;
}

#pric-2 {
  right: 24%;
  bottom: 0%;
  width: 30%;
}

#pric-3 {
  bottom: 3%;
  left: 4%;
  width: 12%;
}

#pric-4 {
  right: 10%;
  top: 12%;
  width: 13%;
}

#pric-5 {
  top: 60%;
  left: 77%;
  transform: rotate(45deg);
  width: 15%;
}

#pric-6 {
  bottom: 0;
  left: 15%;
}

#pric-7 {
  left: 19%;
  top: 28%;
  transform: rotate(45deg);
}

#pric-8 {
  right: 36%;
  top: 10%;
  transform: rotate(-45deg);
  width: 9%;
}

#pric-9 {
  width: 7%;
  transform: rotate(-42deg);
  margin-top: 3%;
  left: 6%;
}

#pric-10 {
  width: 25%;
  transform: rotate(82deg);
  margin-top: 7%;
  left: -18%;
}

#pric-11 {
  right: 27%;
  margin-top: -1%;
  width: 13%;
  transform: rotate(35deg);
}

#pric-12 {
  right: 18%;
  margin-top: 14%;
  transform: rotate(30deg);
}

#pric-13 {
  right: 9%;
  width: 14%;
}

@media (max-width: 576px) {
  #pric-2 {
    right: 81%;
    bottom: 42%;
  }
  #pric-3 {
    bottom: 11%;
  }
  #pric-5 {
    top: 81%;
    left: 63%;
  }
  #pric-13 {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */