@media (min-width: 1200px) {
  .container {
    max-width: 80% !important;
  }
}

.hero {
  width: 100%;
  height: 500px;
  padding-top: 200px;
}

.hero__blue {
  display: flex;
  align-items: center;
}

.hero__row {
  height: 400px;
}

@media (max-width: 576px) {
  .hero {
    padding-top: 95px;
  }
}

.logo {
  height: 500px;
}

.blue {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 450px;
  justify-content: space-between;
}

#blue_second {
  align-self: flex-end;
}

.blue__item {
  height: 85px;
  width: 40px;
  background-color: #3079ea;
  border-radius: 40px;
  transition: width .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue__label {
  opacity: 0;
  transition: opacity 1s ease;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-family: Lato;
  font-weight: 300;
  font-size: 40px;
}

.blue__label_vis {
  opacity: 1;
  transition: opacity 1s ease;
}

.blue_width {
  width: 350px;
  transition: width .6s ease;
}

.blue_width_2 {
  width: 280px;
  transition: width .6s ease;
}

.blue_width_3 {
  width: 250px;
  transition: width .6s ease;
}

@media (max-width: 576px) {
  .blue {
    height: 175px;
  }
  .blue__item {
    height: 40px;
  }
  .blue__label {
    font-size: 30px;
  }
  .blue_width {
    width: 240px;
  }
  .blue_width_2 {
    width: 220px;
  }
  .blue_width_3 {
    width: 170px;
  }
}

.logo__block {
  width: 376px;
  height: 325.5px;
  margin: auto;
  position: relative;
  top: 40px;
}

.logo__line {
  height: 11px;
  background: #3079ea;
  border-radius: 45px;
}

.logo__line_1 {
  width: 0;
  transition: width .2s ease;
  position: absolute;
  bottom: 0;
  left: 32.6px;
  transform: rotate(-180deg);
}

.logo__line_2 {
  width: 0;
  transition: width .2s ease;
  left: 324.5px;
  position: absolute;
  bottom: 18.6px;
  transform: rotate(-50deg);
}

.logo__line_3 {
  width: 0;
  transition: width .2s ease;
  left: -6px;
  position: absolute;
  bottom: 18.6px;
  transform: rotate(50deg);
}

.logo__line_4 {
  width: 0;
  transition: width .2s ease;
  position: absolute;
  transform: rotate(60deg);
  left: 130.5px;
  bottom: 172px;
  transform: rotate(60deg);
}

.logo__line_5 {
  width: 0;
  transition: width .2s ease;
  position: absolute;
  left: -77.5px;
  bottom: 173px;
  transform: rotate(-60deg);
}

.logo__line_6 {
  width: 0;
  transition: width .2s ease;
  position: absolute;
  left: 160px;
  top: 8px;
}

.logo__line_7 {
  transform: rotate(-60deg);
  bottom: 107px;
  left: -24px;
  position: absolute;
  width: 0;
  transition: width .2s ease;
}

.logo__line_8 {
  transform: rotate(60deg);
  position: absolute;
  top: 142px;
  left: 79px;
  width: 0;
  transition: width .2s ease;
}

.logo__line_9 {
  position: absolute;
  bottom: 39px;
  left: 185px;
  width: 0;
  transition: width .2s ease;
}

.logo__line_10 {
  position: absolute;
  transform: rotate(60deg);
  top: 169px;
  left: 116px;
  width: 0;
  transition: width .2s ease;
}

.logo__line_11 {
  transform: rotate(-60deg);
  position: absolute;
  top: 215px;
  left: 83px;
  width: 0;
  transition: width .2s ease;
}

.logo__line_12 {
  position: absolute;
  bottom: 39px;
  left: 115px;
  width: 0;
  transition: width .2s ease;
}

.logo__line_13 {
  position: absolute;
  bottom: 80px;
  left: 142px;
  width: 0;
  transition: width .2s ease;
}

.logo__label {
  font-family: Lato;
  position: absolute;
  font-size: 37px;
  transition: opacity .2s ease-in;
}

.logo__label_investor {
  opacity: 0;
  left: 125px;
  top: -50px;
}

.logo__label_founder {
  opacity: 0;
  bottom: -45px;
  left: -70px;
}

.logo__label_team {
  opacity: 0;
  bottom: -45px;
  right: -50px;
}

.label_visible {
  opacity: 1;
  transition: opacity 1.2s ease;
}

.line_active_1 {
  width: 310px;
  transition: width .2s ease;
}

.line_active_2 {
  width: 56.6px;
  transition: width .2s ease;
}

.line_active_3 {
  width: 55.6px;
  transition: width .2s ease;
}

.line_active_4 {
  width: 321.7px;
  transition: width .2s ease;
}

.line_active_5 {
  width: 321.7px;
  transition: width .2s ease;
}

.line_active_6 {
  width: 56.6px;
  transition: width .2s ease;
}

.line_active_7 {
  width: 245px;
  transition: width .2s ease;
}

.line_active_8 {
  width: 318px;
  transition: width .2s ease;
}

.line_active_9 {
  width: 180px;
  transition: width .2s ease;
}

.line_active_10 {
  width: 157px;
  transition: width .2s ease;
}

.line_active_11 {
  width: 143px;
  transition: width .2s ease;
}

.line_active_12 {
  width: 50px;
  transition: width .2s ease;
}

.line_active_13 {
  width: 150px;
  transition: width .2s ease;
}

@media (max-width: 576px) {
  .logo__block {
    height: 265.5px;
    width: 306px;
    margin-top: 30px;
  }
  .logo__line {
    height: 10px;
  }
  .logo__line_1 {
    width: 275px;
    left: 14.6px;
    bottom: -5px;
  }
  .logo__line_2 {
    width: 38px;
    left: 275.8px;
    bottom: 6.9px;
    transform: rotate(-60deg);
  }
  .logo__line_3 {
    width: 38px;
    bottom: 7.6px;
    left: -7.5px;
    transform: rotate(63deg);
  }
  .logo__line_4 {
    width: 275px;
    left: 98.5px;
    bottom: 137px;
  }
  .logo__line_5 {
    width: 275px;
    left: -66px;
    bottom: 136px;
  }
  .logo__line_6 {
    width: 40px;
    left: 134px;
    top: 4px;
  }
  .logo__line_7 {
    left: -36px;
    bottom: 93px;
    width: 232.3px;
  }
  .logo__line_8 {
    width: 264px;
    top: 118px;
    left: 71px;
  }
  .logo__line_9 {
    width: 152px;
    bottom: 23px;
    left: 150px;
  }
  .logo__line_10 {
    width: 165px;
    top: 131px;
    left: 94px;
  }
  .logo__line_11 {
    width: 162px;
    top: 164px;
    left: 35px;
  }
  .logo__line_12 {
    bottom: 24px;
    left: 73px;
    width: 49px;
  }
  .logo__line_13 {
    width: 162px;
    bottom: 54px;
    left: 91px;
  }
  .logo__label {
    font-size: 30px;
  }
  .logo__label_investor {
    left: 105px;
    top: -40px;
  }
  .logo__label_founder {
    bottom: -45px;
    left: -20px;
  }
  .logo__label_team {
    right: -20px;
    bottom: -45px;
  }
}

.navbar {
  background-color: white;
}

.nav-link {
  color: black;
  font-size: 23px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #589BFF;
}

.nav-item {
  margin-right: 40px;
}

@media (max-width: 1200px) {
  .nav-item {
    margin-right: initial;
  }
  .nav-link {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */