@media (min-width: 1200px) {
  .container {
    max-width: 80% !important;
  }
}

.hero {
  width: 100%;
  height: 650px;
  padding-top: 100px;
}

.hero__blue {
  display: flex;
  align-items: center;
}

.hero__row {
  height: 400px;
}

.hero__labels {
  position: relative;
}

.hero__logo {
  position: relative;
}

.hero__buttons {
  margin-top: 50px;
}

.hero__buttons img {
  margin-right: 15px;
  width: 170px;
  height: 50px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .hero {
    height: 950px;
  }
  .hero__row {
    height: 700px;
  }
  .hero__buttons {
    display: flex;
    justify-content: space-around;
  }
  .hero__buttons img {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .hero {
    padding-top: 95px;
  }
  .hero__labels {
    opacity: 0;
    transition: opacity .3s ease;
  }
  .hero__logo {
    top: -50%;
    transition: 1s ease-in-out;
  }
}

@media (max-width: 349px) {
  .hero__logo {
    padding-left: 5px !important;
  }
}

.about {
  height: 1175px;
  background-color: #007bff;
  padding: 150px 0;
}

@media (max-width: 1590px) {
  .about {
    height: 720px;
    padding: 85px 0;
  }
}

@media (max-width: 992px) {
  .about {
    height: 1470px;
  }
}

.blue {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 450px;
  justify-content: space-between;
  padding-left: 40px;
}

#blue_second {
  align-self: flex-end;
}

.blue__item {
  height: 85px;
  width: 40px;
  background-color: #3079ea;
  border-radius: 40px;
  transition: width .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue__label {
  opacity: 0;
  transition: opacity 1s ease;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-family: Lato;
  font-weight: 300;
  font-size: 40px;
}

.blue__label_vis {
  opacity: 1;
  transition: opacity 1s ease;
}

.blue_width {
  width: 350px;
  transition: width .6s ease;
}

.blue_width_2 {
  width: 280px;
  transition: width .6s ease;
}

.blue_width_3 {
  width: 250px;
  transition: width .6s ease;
}

@media (max-width: 576px) {
  .blue {
    height: 175px;
    padding-left: 0;
  }
  .blue__item {
    height: 40px;
  }
  .blue__label {
    font-size: 30px;
  }
  .blue_width {
    width: 240px;
  }
  .blue_width_2 {
    width: 220px;
  }
  .blue_width_3 {
    width: 170px;
  }
}

.logo__block {
  width: 376px;
  height: 325.5px;
  margin: auto;
  position: relative;
  top: 40px;
}

.logo__line {
  height: 11px;
  background: #3079ea;
  border-radius: 45px;
}

.logo__line_1 {
  width: 0;
  transition: width .2s ease;
  position: absolute;
  bottom: 0;
  left: 32.6px;
  transform: rotate(-180deg);
}

.logo__line_2 {
  width: 0;
  transition: width .2s ease;
  left: 324.5px;
  position: absolute;
  bottom: 18.6px;
  transform: rotate(-50deg);
}

.logo__line_3 {
  width: 0;
  transition: width .2s ease;
  left: -6px;
  position: absolute;
  bottom: 18.6px;
  transform: rotate(50deg);
}

.logo__line_4 {
  width: 0;
  transition: width .2s ease;
  position: absolute;
  transform: rotate(60deg);
  left: 130.5px;
  bottom: 172px;
  transform: rotate(60deg);
}

.logo__line_5 {
  width: 0;
  transition: width .2s ease;
  position: absolute;
  left: -77.5px;
  bottom: 173px;
  transform: rotate(-60deg);
}

.logo__line_6 {
  width: 0;
  transition: width .2s ease;
  position: absolute;
  left: 158px;
  top: 8px;
}

.logo__line_7 {
  transform: rotate(-60deg);
  bottom: 107px;
  left: -24px;
  position: absolute;
  width: 0;
  transition: width .2s ease;
}

.logo__line_8 {
  transform: rotate(60deg);
  position: absolute;
  top: 142px;
  left: 79px;
  width: 0;
  transition: width .2s ease;
}

.logo__line_9 {
  position: absolute;
  bottom: 39px;
  left: 185px;
  width: 0;
  transition: width .2s ease;
}

.logo__line_10 {
  position: absolute;
  transform: rotate(60deg);
  top: 169px;
  left: 116px;
  width: 0;
  transition: width .2s ease;
}

.logo__line_11 {
  transform: rotate(-60deg);
  position: absolute;
  top: 215px;
  left: 83px;
  width: 0;
  transition: width .2s ease;
}

.logo__line_12 {
  position: absolute;
  bottom: 39px;
  left: 115px;
  width: 0;
  transition: width .2s ease;
}

.logo__line_13 {
  position: absolute;
  bottom: 80px;
  left: 142px;
  width: 0;
  transition: width .2s ease;
}

.logo__label {
  font-family: Lato;
  position: absolute;
  font-size: 37px;
  transition: opacity .2s ease-in;
}

.logo__label_investor {
  opacity: 0;
  left: 125px;
  top: -50px;
}

.logo__label_founder {
  opacity: 0;
  bottom: -45px;
  left: -70px;
}

.logo__label_team {
  opacity: 0;
  bottom: -45px;
  right: -50px;
}

.label_visible {
  opacity: 1;
  transition: opacity 1.2s ease;
}

.line_active_1 {
  width: 310px;
  transition: width .2s ease;
}

.line_active_2 {
  width: 56.6px;
  transition: width .2s ease;
}

.line_active_3 {
  width: 55.6px;
  transition: width .2s ease;
}

.line_active_4 {
  width: 319.7px;
  transition: width .2s ease;
}

.line_active_5 {
  width: 320.0px;
  transition: width .2s ease;
}

.line_active_6 {
  width: 59.9px;
  transition: width .2s ease;
}

.line_active_7 {
  width: 245px;
  transition: width .2s ease;
}

.line_active_8 {
  width: 318px;
  transition: width .2s ease;
}

.line_active_9 {
  width: 180px;
  transition: width .2s ease;
}

.line_active_10 {
  width: 157px;
  transition: width .2s ease;
}

.line_active_11 {
  width: 143px;
  transition: width .2s ease;
}

.line_active_12 {
  width: 50px;
  transition: width .2s ease;
}

.line_active_13 {
  width: 150px;
  transition: width .2s ease;
}

@media (max-width: 576px) {
  .logo__block {
    height: 265.5px;
    width: 306px;
    margin-top: 30px;
  }
  .logo__line {
    height: 10px;
  }
  .logo__line_1 {
    width: 275px;
    left: 14.6px;
    bottom: -5px;
  }
  .logo__line_2 {
    width: 38px;
    left: 275.8px;
    bottom: 6.9px;
    transform: rotate(-60deg);
  }
  .logo__line_3 {
    width: 38px;
    bottom: 7.6px;
    left: -7.5px;
    transform: rotate(63deg);
  }
  .logo__line_4 {
    width: 275px;
    left: 98.5px;
    bottom: 137px;
  }
  .logo__line_5 {
    width: 275px;
    left: -66px;
    bottom: 136px;
  }
  .logo__line_6 {
    width: 40px;
    left: 134px;
    top: 4px;
  }
  .logo__line_7 {
    left: -36px;
    bottom: 93px;
    width: 232.3px;
  }
  .logo__line_8 {
    width: 264px;
    top: 118px;
    left: 71px;
  }
  .logo__line_9 {
    width: 152px;
    bottom: 23px;
    left: 150px;
  }
  .logo__line_10 {
    width: 165px;
    top: 131px;
    left: 94px;
  }
  .logo__line_11 {
    width: 162px;
    top: 164px;
    left: 35px;
  }
  .logo__line_12 {
    bottom: 24px;
    left: 73px;
    width: 49px;
  }
  .logo__line_13 {
    width: 162px;
    bottom: 54px;
    left: 91px;
  }
  .logo__label {
    font-size: 30px;
  }
  .logo__label_investor {
    left: 105px;
    top: -40px;
  }
  .logo__label_founder {
    bottom: -45px;
    left: -20px;
  }
  .logo__label_team {
    right: -20px;
    bottom: -45px;
  }
}

@media (max-width: 349px) {
  .logo__label_founder {
    left: 0px;
  }
  .logo__label_team {
    right: 10px;
  }
}

.navbar {
  background-color: white;
}

.nav-link {
  color: black;
  font-size: 23px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #589BFF;
}

.nav-item {
  margin-right: 40px;
}

@media (max-width: 1200px) {
  .nav-item {
    margin-right: initial;
  }
  .nav-link {
    font-size: 12px;
  }
}

.puzzle {
  height: 900px;
  width: 1510px;
  margin: auto;
  display: flex;
}

.puzzle__left {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.puzzle__mid {
  width: 310px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.puzzle__mid span {
  width: 65%;
}

.puzzle__right {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.puzzle__label {
  color: white;
  font-family: Lato;
  font-size: 32px;
  line-height: 34px;
}

.puzzle_1 {
  width: 100%;
  height: 300px;
  background-color: #5ba9f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 65px 0 40px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.puzzle_1 img {
  width: 40%;
}

.puzzle_1:hover {
  background-color: #064380;
  transition: background-color .3s ease-in-out;
}

.puzzle_2 {
  width: 50%;
  height: 600px;
  background-color: #1d5ec1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: background-color .3s ease-in-out;
}

.puzzle_2 span {
  width: 75%;
}

.puzzle_2 img {
  width: 60%;
}

.puzzle_2:hover {
  background-color: #103368;
  transition: background-color .3s ease-in-out;
}

.puzzle_3 {
  width: 50%;
  height: 600px;
  background-color: #358cf6;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: background-color .3s ease-in-out;
}

.puzzle_3 span {
  width: 75%;
  margin-top: -75px;
}

.puzzle_3 img {
  width: 80%;
}

.puzzle_3:hover {
  background-color: #042b5b;
  transition: background-color .3s ease-in-out;
}

.puzzle_4 {
  background-color: #1d5fc3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 600px;
}

.puzzle_4:hover {
  background-color: #10346a;
  transition: background-color .3s ease-in-out;
}

.puzzle_5 {
  width: 50%;
  height: 600px;
  background-color: #358cf6;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s ease-in-out;
}

.puzzle_5 img {
  width: 90%;
}

.puzzle_5:hover {
  background-color: #042b5b;
  transition: background-color .3s ease-in-out;
}

.puzzle_6 {
  width: 50%;
  height: 600px;
  background-color: #1d5fc3;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: background-color .3s ease-in-out;
}

.puzzle_6 img {
  width: 90%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.puzzle_6 span {
  width: 80%;
  margin-top: -40px;
}

.puzzle_6:hover {
  background-color: #10346a;
  transition: background-color .3s ease-in-out;
}

.puzzle_7 {
  width: 100%;
  background-color: #5ba9f7;
  transition: background-color .3s ease-in-out;
  height: 300px;
  cursor: pointer;
}

.puzzle_7 span {
  width: 30%;
  display: inline-block;
  margin-left: 45px;
  padding-top: 90px;
}

.puzzle_7 img {
  width: 45%;
  margin-left: 30px;
  margin-top: -100px;
}

.puzzle_7:hover {
  background-color: #064380;
  transition: background-color .3s ease-in-out;
}

.puzzle_8 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  transition: background-color .3s ease-in-out;
  height: 300px;
}

.puzzle_8:hover {
  background-color: #003166;
  transition: background-color .3s ease-in-out;
}

.puzzle__middle-phone {
  width: 65%;
}

@media (max-width: 1590px) {
  .puzzle {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
  }
  .puzzle__left {
    width: 350px;
  }
  .puzzle__mid {
    width: 175px;
  }
  .puzzle__middle-analytics {
    width: 85%;
  }
  .puzzle__right {
    width: 350px;
  }
  .puzzle__label {
    font-size: 21px;
    line-height: 25px;
  }
  .puzzle_1 {
    height: 200px;
  }
  .puzzle_2 {
    height: 350px;
  }
  .puzzle_3 {
    height: 350px;
  }
  .puzzle_3 span {
    margin-top: -50px;
    width: 75%;
  }
  .puzzle_4 {
    height: 400px;
  }
  .puzzle_5 {
    height: 350px;
  }
  .puzzle_6 {
    height: 350px;
  }
  .puzzle_6 span {
    margin-top: -20px;
    width: 68%;
  }
  .puzzle_7 {
    height: 200px;
  }
  .puzzle_7 img {
    width: 48%;
    margin-left: 7px;
    margin-top: -68px;
  }
  .puzzle_7 span {
    width: 37%;
    display: inline-block;
    margin-left: 35px;
    padding-top: 50px;
  }
  .puzzle_8 {
    height: 150px;
  }
}

@media (max-width: 992px) {
  .puzzle {
    flex-wrap: wrap;
    width: 350px;
  }
  .puzzle__mid {
    width: 100%;
    height: 200px;
    display: flex;
  }
  .puzzle__middle-phone {
    display: none;
  }
  .puzzle__middle-analytics {
    width: 60%;
  }
  .puzzle_4 {
    flex-direction: row;
    width: 50%;
    height: 200px;
    background-color: #5ba9f7;
  }
  .puzzle_4 span {
    width: 80%;
  }
  .puzzle_4 img {
    width: 45%;
  }
  .puzzle_8 {
    width: 50%;
    height: 200px;
  }
}

@media (max-width: 349px) {
  .puzzle {
    width: 315px;
  }
  .puzzle_2 span {
    width: 90%;
  }
  .puzzle_7 img {
    margin-top: -85px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  justify-content: center;
  align-items: center;
  background-color: rgba(37, 118, 245, 0.9);
  opacity: 0;
  transition: opacity .3s ease;
}

.modal__block {
  background-image: url(../../img/modal.png);
  width: 1075px;
  height: 690px;
  background-size: 1075px;
  display: flex;
  align-items: center;
  padding: 0 100px;
  position: relative;
}

.modal__text {
  width: 50%;
  color: #c9d5e4;
}

.modal__title {
  font-size: 41px;
}

.modal__paragraph {
  margin-top: 25px;
  width: 95%;
  line-height: 24px;
}

.modal__pic {
  width: 25%;
  margin-left: 150px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 75px;
  cursor: pointer;
}

.modal-active {
  opacity: 1;
  transition: opacity .3s ease;
}

@media (max-width: 1150px) {
  .modal__block {
    background-size: 975px;
    width: 975px;
    height: 625px;
  }
}

@media (max-width: 992px) {
  .modal__block {
    width: 400px;
    padding: 0 5%;
    /* ff3.6+ */
    /* safari4+,chrome */
    /* safari5.1+,chrome10+ */
    /* opera 11.10+ */
    /* ie10+ */
    background: linear-gradient(45deg, #054182 0%, #0967cd 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0967cd', endColorstr='#054182',GradientType=1 );
    /* ie6-9 */
    height: 575px;
    border-radius: 15px;
  }
  .modal__text {
    width: 90%;
  }
  .modal__title {
    font-size: 31px;
  }
  .modal__close {
    width: 60px;
    top: 10px;
    right: 10px;
  }
  .modal__pic {
    display: none;
  }
}

@media (max-width: 440px) {
  .modal__block {
    width: 310px;
  }
  .modal__text {
    width: 100%;
  }
  .modal__paragraph {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */