.triangle__first{
    left: 38%;
    transition: 5s ease;
    top: -90%;
    transform: rotate(60deg);
    transition: 10s ease;
}

.triangle__second{
    left: 120%;
    top: -120%;
    transform: rotate(120deg);
    transition: 10s ease;
}

.triangle__third{
    left: -20%;
    top: -100%;
    transform: rotate(180deg);
    transition:  10s ease;
}

#pric-1{
    top: 10%;
    left: 8%;
    width: 10%;
}
#pric-2{
    right: 24%;
    bottom: 0%;
    width: 30%;
}
#pric-3{
    bottom: 3%;
    left: 4%;
    width: 12%;
}
#pric-4{
    right: 10%;
    top:12%;
    width: 13%;
}

#pric-5{
    top: 60%;
    left: 77%;
    transform: rotate(45deg);
    width: 15%;
}

#pric-6{
    bottom: 0;
    left:15%;
}
#pric-7{
    left: 19%;
    top: 28%;
    transform: rotate(45deg);
}

#pric-8{
    right:36%;
    top: 10%;
    transform: rotate(-45deg);
    width: 9%;
}

#pric-9{
    width: 7%;
    transform: rotate(-42deg);
    margin-top: 3%;
    left: 6%;
}

#pric-10{
    width: 25%;
    transform: rotate(82deg);
    margin-top: 7%;
    left: -18%;
}

#pric-11{
    right: 27%;
    margin-top: -1%;
    width: 13%;
    transform: rotate(35deg);
}

#pric-12{
    right: 18%;
    margin-top: 14%;
    transform: rotate(30deg);
}

#pric-13{
    right: 9%;
    width: 14%;
}

@media (max-width: 576px){

    #pric-2{
        right: 81%;
        bottom: 42%;
    }

    #pric-3{
        bottom: 11%;
    }

    #pric-5{
        top: 81%;
        left: 63%;
    }

    #pric-13{
        display: none;
    }
}