.blue{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 450px;
    justify-content: space-between;
    // margin: auto;
}

#blue_second{
    align-self: flex-end;
}

.blue__item{
    height: 85px;
    width: 40px;
    background-color: #3079ea;
    border-radius: 40px;
    transition: width .3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blue__label{
    opacity: 0;
    transition: opacity 1s ease;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    font-family: Lato;
    font-weight: 200;

    font-size: 40px;
}

.blue__label_vis{
    opacity: 1;
    transition: opacity 1s ease;
}

.blue_width{
    width: 350px;
    transition: width .3s ease;
}

.blue_width_2{
    width: 280px;
    transition: width .3s ease;
}

.blue_width_3{
    width: 250px;
    transition: width .3s ease;
}

@media (max-width: 576px){

    .blue{
        height: 175px;

    }

    .blue__item{
        height: 40px;
    }

    .blue__label{
        font-size: 30px;
    }

    .blue_width{
        width: 240px;
        &_2{
            width: 220px;
        }
        &_3{
            width: 170px;
        }
    }
}