.modal{
    position: fixed;
    top: 0;
    left: 0;
    // width: 90%;
    height: 100vh;
    z-index: -1;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #2576f5, $alpha: .9);  
    opacity: 0;
    transition: opacity .3s ease;
    &__block{
        background-image: url('../../img/modal1.png');
        width: 1075px;
        height: 690px;
        background-size: 1075px;

        display: flex;
        align-items: center;
        padding: 0 100px;

        position: relative;
    }
    &__text{
        width: 50%;
        color: #c9d5e4;
    }
    &__title{
        font-size: 41px;
    }
    &__paragraph{
        margin-top: 25px;
        width: 95%;
        line-height: 24px;
    }
    &__pic{
        width: 25%;
        margin-left: 150px;
    }
    &__close{
        position: absolute;
        top: 20px;
        right: 20px;
        width: 75px;

        cursor: pointer;
    }
}

.modal-active{
    opacity: 1;
    transition: opacity .3s ease;
}

@media (max-width:1350px){
    .modal{
        &__block{
            background-size: 865px;
            width: 865px;
            height: 550px;
        }
    }
}

// @media (max-width: 1150px){
//     .modal{
//         &__block{
//             background-size: 975px;
//             width: 975px;
//             height: 625px;
//         }
//     }
// }

@media (max-width: 992px){
    .modal{
        &__block{
            width: 400px;
            padding: 0 5%;
            background: -moz-linear-gradient(45deg, rgba(5,65,130,1) 0%, rgba(9,103,205,1) 100%); /* ff3.6+ */ 
            background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(5,65,130,1)), color-stop(100%, rgba(9,103,205,1))); /* safari4+,chrome */ 
            background: -webkit-linear-gradient(45deg, rgba(5,65,130,1) 0%, rgba(9,103,205,1) 100%); /* safari5.1+,chrome10+ */ 
            background: -o-linear-gradient(45deg, rgba(5,65,130,1) 0%, rgba(9,103,205,1) 100%); /* opera 11.10+ */ 
            background: -ms-linear-gradient(45deg, rgba(5,65,130,1) 0%, rgba(9,103,205,1) 100%); /* ie10+ */ 
            background: linear-gradient(45deg, rgba(5,65,130,1) 0%, rgba(9,103,205,1) 100%); /* w3c */ 
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0967cd', endColorstr='#054182',GradientType=1 ); /* ie6-9 */

            height: 575px;
            border-radius: 15px;
        }
        &__text{
            width: 90%;
        }
        &__title{
            font-size: 31px;
        }
        &__close{
            width: 60px;
            top: 10px;
            right: 10px;
        }
        &__pic{
            display: none;
        }
    }
}

@media (max-width: 440px){
    .modal{
        &__block{
            width: 310px;
        }
        &__text{
            width: 100%;
        }
        &__paragraph{
            width: 100%;
        }
    }
}