.navbar{
    background-color: white;
}

.nav-link{

    color: black;

    font-size: 23px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover{
        color: #589BFF;
    }
}

.nav-item{
    margin-right: 40px;
}

@media (max-width: 1200px){
    .nav-item{
        margin-right: initial;
    }
    .nav-link{
        font-size: 12px;
    }
}