.puzzle{

    &__label{
        font-size: 35px;
        line-height: 37px;
        color: white;
        font-family: Lato;
        text-align: center;
        &_1{
            margin-bottom: 20px;
        }
        &_4_1{
            margin-top: 65px;
        }
        &_4_2{
            margin-bottom: 30px;
        }
    }

    &__top{
        &_1{
            height: 405px;
            background-color: #74b7f8;

            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        &_2{
            height: 600px;
            background-color: #429cf6;
            img{
                width: 80%;
                margin: auto;
                display: block;
            }
        }
    }
    &__bottom{
        &_1{
            height: 605px;
            background-color: #1852a8;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            padding-top: 10px;
            &_1{
                img{
                    width: 55%;
                    display: block;
                    margin: auto;
                }
            }
            &_2{
                img{
                    width: 94%;
                    display: block;
                    margin: auto;
                    margin-bottom: 0;
                }
            }
        }
        &_2{
            height: 410px;
            background-color: #74b7f8;

            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }
}

@media (max-width: 1690px){
    .puzzle{
        &__label{
            font-size: 25px;
            line-height: 28px;
        }
        &__top{
            &_1{
                height: 255px;
                img{
                    width: 75%;
                }
            }
            &_2{
                height: 450px;
            }
        }
        &__bottom{
            &_1{
                height: 455px;
            }
            &_2{
                height: 260px;
                img{
                    width: 75%;
                }
            }
        }
    }
}

@media (min-width: 994px){
    .puzzle{
    
        &_left-top{
            border-radius: 30px 0px 0px 0px;
        }
        &_left-bottom{
            border-radius: 0px 0px 0px 30px;
        }
        &_right-top{
            border-radius: 0px 30px 0px 0px;
        }
        &_right-bottom{
            border-radius: 0px 0px 30px 0px;
        }
    }
}

@media (max-width: 993px){
    .puzzle{

        &__label{
            font-size: 20px;
            line-height: 22px;
        }

        &__top{
            &_1{
                height: 215px; // 185
            }
            &_2{
                height: 350px; // 380
            }
        }
        &__bottom{
            &_1{
                height: 355px; // 385
            }
            &_2{
                height: 220px; // 190
            }
        }

    
        &_left-top{
            border-radius: 30px 0px 0px 0px;
        }
    
        &_right-bottom{
            border-radius: 0px 0px 30px 0px;
        }

        &_right-top_mobile{
            border-radius: 0px 30px 0px 0px;
        }
        // &_left-bottom_mobile{
        //     border-radius: 0px 0px 0px 30px;
        // }
    }
}

@media (max-width: 350px){
    .puzzle{
        width: 90%;
        margin: auto
    }
}