.hero{
    width: 100%;
    height: 500px;
    padding-top: 200px;
    &__blue{
        display: flex;
        align-items: center;
    }
    &__row{
        height: 400px;
    }
}

@media (max-width: 576px){
    .hero{
        padding-top: 95px;
    }
}