.pricing{
    height: 980px;
    background: -moz-linear-gradient(270deg, #59a9ff 0%, #007aff 85%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59a9ff), color-stop(85%, #007aff)); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, #59a9ff 0%, hsl(211, 100%, 50%) 85%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, #59a9ff 0%, #007aff 85%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, #59a9ff 0%, #007aff 85%); /* ie10+ */
    background: linear-gradient(180deg, #59a9ff 0%, #007aff 85%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59a9ff', endColorstr='#007aff',GradientType=0 ); /* ie6-9 */

    padding: 75px 0 60px 0;

    // overflow: hidden;
    position: relative;

    margin-top: -2px;

    &__title{
        font-size: 43px;
        color: white;
        text-align: center;
        z-index: 2;
    }

    &__triangle{
        position: absolute;
        z-index: 0;
    }
}

@media (max-width:1200px){
    .pricing{
        height: 815px;
    }
}

@media (max-width: 576px){
    .pricing{
        overflow: hidden;
    }
}