.pricing{
    height: 980px;
    background: url('../../img/pricing-bg1.png');
    background-size: cover;

    padding: 75px 0 60px 0;

    &__title{
        font-size: 43px;
        color: white;
        text-align: center;
    }

}